#hamburger-trigger
  cursor pointer
  transition all 0.3s ease-in-out
  color $pf-primary
  &:hover
    color $pf-white

#hamburger-menu
  position absolute
  top 5.4rem
  left 0
  width 70%
  background-color $pf-dark
  padding-bottom 60rem
  transform translate(-100%, 0)
  transition transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)

  .ham-item
    text-transform capitalize
    font-size 2rem
    padding 2rem 0 2rem 2rem
    text-align left
    display block
    color $pf-muted-faded
    transition all 0.3s ease-in-out
    border-bottom 1px solid $pf-muted
    
    &:hover
      color $pf-white
      text-decoration none

.show-hamburger
  transform translate(0%, 0) !important

.blur
  filter blur(2px)