.project-card
  border-radius 0.5rem
  overflow hidden
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  min-width 10rem
  min-height 12rem
  background-color $pf-muted-faded
  transition: all .4s ease-in-out
  &:hover
    transform translateY(-3%)

  .project-image-overlay
    z-index 10
    text-decoration none
    display flex
    justify-content center
    align-items center
    border-radius 0.5rem
    cursor pointer
    content ""
    width 100%
    height 100%
    background-color alpha($pf-dark, 0.5)
    position absolute
    top 0
    left 0
    transition: all .4s ease-in-out
    vertical-align middle
    &:hover
      background-color alpha($pf-dark, 0.9)
    &:hover .card-details
      opacity 1

  .inner-container
    width 100%

    .image-container
      z-index 9
      background-size 110%
      background-repeat no-repeat
      background-position center
      width 100%
      height 10rem
      filter grayscale(50%)
      transition: all .4s ease-in-out
      display block
    
    .bottom-container
      display block
      background-color $pf-muted-dark
      padding 1rem 1rem

      .project-title
        color $pf-white
    