  .project-section
    margin-bottom 8rem

  .project-details-title
    font-size 2rem
    color $pf-primary
    margin-bottom 0

  .project-heading
    font-size 1.5rem
    color $pf-primary
    margin-bottom 1.5rem

  .tech-item
    font-size 0.9rem
    color $pf-secondary
    display inline-block
    margin-right 1.2rem