/* width */
::-webkit-scrollbar
  width 0.8rem

/* Track */
::-webkit-scrollbar-track
  background $pf-muted

/* Handle */
::-webkit-scrollbar-thumb
  background $pf-primary-dark
  border-radius 1rem

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: $pf-white
