.contact-container
  margin-bottom 4rem
  display flex
  justify-content space-start

.contact-item
  margin-right 6rem
  a
    display block
    color $pf-muted-bright
    transition: all .2s ease-in-out
    &:hover
      color $pf-white
      transform translateY(-7%)