.contact-container
  margin-top 4rem
  margin-bottom 4rem
  display flex
  justify-content space-evenly

.contact-item
  a
    display block
    color $pf-muted-bright
    transition: all .2s ease-in-out
    &:hover
      color $pf-white
      transform translateY(-7%)