@import './colors.styl'
#projects
  margin-top 14rem

.project-card
  background-color $pf-dark
  border-radius 0.5rem
  padding 2rem
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

.project-name
  font-size 1.6rem
  font-weight 500
  transition: all .2s ease-in-out
  &:hover
    color $pf-muted-faded

.project-image-container
  overflow hidden
  border-radius 0.5rem

  &:hover .project-image
    transform: scale(1.05)
    transform-origin: 50% 50%
  &:hover .project-details-button
    opacity 1

  .project-image
    transition all .5s ease-in-out
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.2)
    position relative
    filter grayscale(50%)

  .project-image-overlay
    text-decoration none
    display flex
    justify-content center
    align-items center
    border-radius 0.5rem
    cursor pointer
    color $pf-white
    content ""
    width 100%
    height 100%
    background-color alpha($pf-primary-dark, 0.2)
    position absolute
    top 0
    left 0
    transition: all .4s ease-in-out
    vertical-align middle
    &:hover
      background-color alpha($pf-primary-dark, 0.7)
    &:hover .project-details-word
      opacity 1
    
    .project-details-word
      background-color alpha($pf-primary-dark, 0.8)
      border 0.1rem solid $pf-white
      padding 0.7rem 1.6rem
      border-radius 0.8rem
      transition: all .4s ease-in-out
      opacity 0

.project-link
  font-size 1.5rem
  color $pf-muted-bright
  transition: all .2s ease-in-out
  &:hover
    color $pf-white
    transform translateY(-2%)

.tech-stack-container
  border-top 1px solid $pf-muted-bright

.tech-item
  font-size 0.8rem
  border 1px solid $pf-secondary
  border-radius 2rem
  padding 0.2rem 0.5rem
  color $pf-secondary
  display inline-block
  transition: all .2s ease-in-out
  &:hover
    background-color alpha($pf-white, 0.1)
    transform translateY(-6%)