section
  margin-top 8rem

.section-title
  text-transform capitalize
  font-size pxToRem(45)
  font-weight 500
  margin-bottom 2rem
  text-align center
  color $pf-white
  border-bottom 0.4rem $pf-primary solid
  display inline-block

.section-info
  color $pf-muted-faded
  margin-bottom 1.5rem
