extends ../templates/main.pug

block head
  title Silviu Iordache - Projects

block content
  .about-container
    main.container.mt-4
      .row.justify-content-center
        h1 About Me
      .row
        .col-12.col-md-8
          p My name is Silviu Iordache, I was born in Craiova, Romania in 1992. I currently work as a full-stack web developer at #[a.link(href='https://www.caphyon.com/' target='_blank' rel='noreferrer noopener') Caphyon].
          p My skills include analytic thinking and attention to detail. I enjoy solving algoritmic challenges.
          p My professional career started in the video game industry, where I worked for almost 6 years as a game designer and content creator for #[a.link(href='https://www.ubisoft.com/en-us/' target='_blank' rel='noreferrer noopener') Ubisoft] and #[a.link(href='https://www.ea.com/' target='_blank' rel='noreferrer noopener') Electronic Arts] , in the Assassin's Creed, Driver and Need for Speed franchises:</p>

          
          ul
            li
              a(href=" https://www.ea.com/games/need-for-speed/need-for-speed-heat" target='_blank' rel='noreferrer noopener').
                Need for Speed: Heat 
              span.text-muted (2019 - PC, PS4, XB1)
            li
              a(href=" https://www.ea.com/games/need-for-speed/need-for-speed-payback" target='_blank' rel='noreferrer noopener').
                Need for Speed: Payback 
              span.text-muted (2017, PC, PS4, XB1)
            li
              a(href="https://www.ubisoft.com/en-us/game/driver-speedboat-paradise/" target='_blank' rel='noreferrer noopener').
                Driver: Speedboat Paradise 
              span.text-muted (2015, iOS, Android)
            li
              a(href="http://race.assassinscreedpirates.com/" target='_blank' rel='noreferrer noopener').
                Assassin's Creed: Pirates 
              span.text-muted (2015, iOS, Android, Web)
              
        .col-12.col-md-4.d-flex.align-items-center
          img.rounded-xl.shadow(src="./assets/me.jpg" width="100%")
        
    section#hobbies-section.container
      .row.justify-content-md-center
        .col-12
          .separator-line

      .row.justify-content-center
        h1 My hobbies
      .row
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🏋️
            p Fitness
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🚴
            p Cycling
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 📖
            p Reading
        .col-6.col-md-4
          .hobby.text-center
            p.emoji ⛰️
            p Nature
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🧘
            p Wellness
        .col-6.col-md-4
          .hobby.text-center
            p.emoji 🖥️
            p Programming