extends ../templates/main.pug

block content
  #content.container 
    include ../sections/about.pug
    include ../sections/web-projects.pug
    include ../sections/resume.pug
    include ../sections/contact.pug