extends ../templates/main.pug

block content
  #content.container
    //- #cursor
    include ../sections/intro.pug
    include ../sections/about.pug
    include ../sections/projects.pug
    section#experience