script(src="https://kit.fontawesome.com/3e40f7071c.js" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js")
script(type="module" src="/scripts/footerDate.js")