footer.position-relative
  #inner-footer-container.container.py-4
    .row
      .col-12.pf-muted-bright.container.mt-auto.d-flex.justify-content-between
        p.mb-0
          span Silviu Iordache ©
          span#date-container.ml-1
        p.text-right.mb-0 All rights reserved

    #go-top-container
      a#go-top-arrow.text-center(href="#")
        i.fas.fa-arrow-up.fa-2x
