meta(charset="utf-8")
meta(name="author" content="Silviu Iordache")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Silviu Iordache
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")


link(rel='apple-touch-icon' sizes='180x180' href='/assets/favicon/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='/assets/favicon/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='/assets/favicon/favicon-16x16.png')
link(rel='manifest' href='/assets/favicon/site.webmanifest')

link(rel="stylesheet" href="/css/style.css")
script(src="https://kit.fontawesome.com/3e40f7071c.js" crossorigin="anonymous")
script(id="brt-script" src="https://www.bytesroute.com/script.js?id=5fe1c6faac65acba3cba1168")