mixin header(showNav)
  header#header.py-3.d-flex.justify-content-between.align-items-center
    .d-flex.align-items-center.ml-0.ml-md-4
      a#home-logo(href="/") S
    if showNav
      ul#header-items-container.my-ul.mr-4.mb-0.d-none.d-lg-block
        li.header-li
          a.header-item.active(href="#about") about
        li.header-li
          a.header-item(href="#projects") projects
        li.header-li
          a.header-item(href="#resume") resume
        li.header-li
          a.header-item(href="#contact") contact
      #hamburger-container.d-block.d-lg-none
        #hamburger-trigger.mr-4
          #ham-open
            i.fas.fa-bars.fa-3x
          #ham-close.d-none
            i.fas.fa-times.fa-3x
        #hamburger-menu
          a.ham-item(href="#about") about
          a.ham-item(href="#projects") projects
          a.ham-item(href="#resume") resume
          a.ham-item(href="#contact") contact