script(type="module" src="/scripts/dynamicHighlight.js")
script(type="module" src="/scripts/hamburger.js")
script(type="module" src="/scripts/hello.js")
//- script(type="module" src="/scripts/goTopArrow.js")
script(type="module" src="/scripts/projectModals.js")
