section#about.row
  .col-12.col-md-8.body-copy.pf-white
    h2.mb-2.pf-primary About me
    p I like to prototype weird ideas that I get in the shower.Always curious to learn and build stuff with new web technologies
    p I studied computer science at ACE, Craiova, RO. I was also passionate about games and games development, taking courses held my Ubisoft at the time. During the second year, I discovered programming. I combined my artistic skills and my programming skills to tinker and prototype with all sorts of ideas that I turned into small games.

  .col-12.col-md-4.p-5.p-md-0
    .image-container.position-relative
      .profile-pic-overlay
      img.profile-picture(src="./assets/me.jpeg" width="auto" height="auto")
  
  .col-12.body-copy.pf-white
    p My professional path led me to work as a content creator and designer for Ubisoft and then Electronic Arts. In 2019 I decided to pursue new ventures, to learn web programming. I landed a job at Caphyon as a full stack developer. My dual skills: artistic side from gaming and programming skills from college and from working at Caphyon merge togheter to create awesome things
  .col-12.body-copy.pf-white 
    p Tech that I know:
    .tech-container
      span.tech-pill React
      span.tech-pill Vue.Js
      span.tech-pill Node.Js
      span.tech-pill Express
      span.tech-pill Bootstrap
      span.tech-pill Javascript
      span.tech-pill Pug
      span.tech-pill Stylus