section#about.row
  .col-12.col-lg-8.pr-5
    .text-container
      p.about-secondary.mb-0.pf-muted-faded Hello 👋 I am
      h1.big-name.mb-4
        .d-inline Silviu Iordache
        .about-secondary.pf-primary Full Stack Developer
      .section-info
        p I'm a passionate and creative web programmer with attention to detail and a knack for learning new things. 
        
        p I've worked as a designer in the video game industry for companies like #[a.link(href='https://www.ubisoft.com/' target='_blank' rel='noopener') Ubisoft] and #[a.link(href='https://www.ea.com/' target='_blank' rel='noopener') Electronic Arts], then decided to take on a new challenge: web programming.
        
        p I am currently working at #[a.link(href='https://www.caphyon.com/' target='_blank' rel='noopener') @Caphyon] as a full-stack developer on #[a.link(href='https://www.bytesroute.com/' target='_blank' rel='noopener') Bytesroute].

    .buttons-container.mt-4.d-flex.mb-4
      a.filled-cta.mr-4.d-flex.align-items-center(href='#projects')
        i.fas.fa-arrow-down.mr-2
        span Projects
      a.filled-cta.mr-4.d-flex.align-items-center(href='./resume/Silviu_Iordache_resume.pdf' target='_blank')
        i.fas.fa-file.mr-2
        span Resume
     
  #profile-outer-container.col-10.col-lg-4.d-flex.align-items-center
    #profile-pic-container
      #profile-pic-overlay
      img#profile-picture(src='./assets/profile/me.jpg' width='auto' height='auto')

  .col-12.body-copy.pf-muted-faded
    p Technologies I work with:
    .tech-container
      span.tech-pill JavaScript
      span.tech-pill ES6
      span.tech-pill Vue.js
      span.tech-pill React
      span.tech-pill Pug
      span.tech-pill Stylus
      span.tech-pill Bootstrap
      span.tech-pill Node.js
      span.tech-pill Express
      span.tech-pill Heroku
      span.tech-pill MongoDB
      span.tech-pill Firebase
      span.tech-pill Lighthouse


