section#about.row.py-5
  .col-12.col-md-8.body-copy.pf-white
    h2.mb-2.pf-primary About me
    p I like to prototype weird ideas that I get in the shower.Always curious to learn and build stuff with new web technologies

    p Tech that I know:
    .tech-container
      span.tech-pill React
      span.tech-pill Vue.Js
      span.tech-pill Node.Js
      span.tech-pill Express
      span.tech-pill Bootstrap
      span.tech-pill Javascript
      span.tech-pill Pug
      span.tech-pill Stylus
  .col-12.col-md-4
    .image-container.position-relative
      img.profile-picture(src="./assets/me.jpeg" width="auto" height="auto")