section#about.row
  .col-12
    .section-title ABOUT ME
  .col-12.col-md-8.body-copy.pf-white
    p I like to prototype weird ideas that I get in the shower. Always curious to learn and build stuff with new web technologies
    p I studied computer science at #[a.link(href='http://www.en.ace.ucv.ro/' target='_blank' rel='noopener') ACE, Craiova, RO] where I improved my programming skills. I was passionate about video games and games development since I was little, taking a design courses held my Ubisoft during my freshman year. I combined my creative and logical skills to prototype some ideas for some small games and winning a game jame contest in 2013.
    p My professional path led me to work as a content creator and designer for #[a.link(href='https://www.ubisoft.com/en-us/' target='_blank' rel='noopener') Ubisoft], in 2013 and then for #[a.link(href='https://www.ea.com/' target='_blank' rel='noopener') Electronic Arts] , in 2016. In 2019 I decided to pursue new ventures, becoming a web programmer. I'm currently working at #[a.link(href='https://www.caphyon.com/' target='_blank' rel='noopener') Caphyon] as a full stack web-developer. 

  .col-12.col-md-4.p-5.p-md-0
    .image-container.position-relative
      .profile-pic-overlay
      img.profile-picture(src='./assets/me.jpeg' width='auto' height='auto')
    
  .col-12.body-copy.pf-white 
    p Tech that I know:
    .tech-container
      span.tech-pill ES6
      span.tech-pill Vue.js
      span.tech-pill Node.js
      span.tech-pill Express
      span.tech-pill Bootstrap
      span.tech-pill CSS
      span.tech-pill HTML
      span.tech-pill Pug
      span.tech-pill Stylus
      span.tech-pill Heroku
      span.tech-pill MongoDB
      span.tech-pill Mongoose
      span.tech-pill Firebase
      span.tech-pill Lighthouse