section#about.row
  .col-12.col-md-8
    .text-container
      h1.mb-0.hello-message Hello, my name is
      p.big-name Silviu Iordache
      span I like to built quirky things using the web and learn about new stuff. I'm currently employed as a full-stack web developer at 
      a.link(href="www.caphyon.com") Caphyon
  .col-12.col-md-4
    .image-container.position-relative
      img.profile-picture(src="./assets/me.jpeg" width="auto" height="auto")
      .circle-container