section#contact
  .section-title contact
  .row.mb-5
    .col-12
      .contact-container
        .contact-item
          a(href='https://github.com/SilviuIordache' target='_blank' rel='noopener')
            i.fab.fa-github.fa-3x
        .contact-item
          a(href='https://www.linkedin.com/in/silviu-iordache-dev/' target='_blank' rel='noopener')
            i.fab.fa-linkedin.fa-3x
        .contact-item
          a(href='mailto:silviu.iordache.dev@gmail.com' target='_blank' rel='noopener')
            i.fas.fa-envelope.fa-3x
