include ../mixins/project-card.pug

section#games.row
  .col-12
    .section-title games
    p.pf-muted-bright These are a list of games I worked on as a game designer, level designer and content creator:

  +project-card(
    "NFS: Heat",
    'Electronic Arts',
    '/game-projects/heat.html',
    '/assets/game-projects/heat/art-2.jpeg',
    ['Game Design','Level Design']
  )

  +project-card(
    "Jump Brawl",
    'side project',
    '/game-projects/brawl.html',
    '/assets/game-projects/brawl/1.png',
    ['Game Maker Language','Hackathon']
  )

  +project-card(
    "NFS: Payback",
    'Electronic Arts',
    '/game-projects/payback.html',
    '/assets/game-projects/payback/cover-1.jpeg',
    ['Game Design','Level Design']
  )

  +project-card(
    "Driver: SP",
    'Ubisoft',
    '/game-projects/driver.html',
    '/assets/game-projects/driver/cover.jpeg',
    ['Game Design','Level Design']
  )

  +project-card(
    "AC: Pirates",
    'Ubisoft',
    '/game-projects/acp.html',
    '/assets/game-projects/ac-pirates/acp-cover.jpeg',
    ['Game Design','Level Design']
  )

  +project-card(
    "Rogue",
    'bachelor project',
    '/game-projects/rogue.html',
    '/assets/game-projects/rogue/game1.png',
    ['Game Maker Language','procedural']
  )
