include ../mixins/project-card.pug

section#games.row
  .col-12
    .section-title games
    p.pf-muted-bright These are a list of games I worked on as a game designer, level designer and content creator:

  +project-card(
    'Need for Speed: Heat',
    'Electronic Arts',
    '/',
    '/assets/game-projects/nfs-heat/nfs-heat-cover.jpeg',
    ['Frostbite', 'Xbox', 'PS4', 'PC']
  )

  +project-card(
    'Need for Speed: Payback',
    'Electronic Arts',
    '/',
    '/assets/game-projects/nfs-payback/nfs-payback-cover.jpeg',
    ['Frostbite', 'Xbox', 'PS4', 'PC']
  )

  +project-card(
    'Driver: Mobile',
    'Ubisoft',
    '/',
    '/assets/game-projects/driver/driver-sp-cover.jpeg',
    ['iOS', 'Android']
  )

  +project-card(
    "Assassin's Creed: Pirates",
    'Ubisoft',
    '/',
    '/assets/game-projects/ac-pirates/acp-cover.jpeg',
    ['iOS', 'Android']
  )

  +project-card(
    'Unreleased mobile FPS',
    'Electronic Arts',
    '/',
    '/assets/game-projects/homm/homm.jpeg',
    ['Unity', 'iOS']
  )

  +project-card(
    'Unreleased racing game',
    'Electronic Arts',
    '/',
    '/assets/game-projects/ff-mobile/ff-mobile.jpeg',
    ['Unity', 'iOS']
  )