section#intro.row.py-5
  .col-12
    .text-container
      p.mb-0.hello-message.pf-muted-bright Hello 👋, my name is
      h1.big-name Silviu Iordache
      h2.pf-white I build beautiful and performant web experiences.
      
      p.pf-muted-bright.mb-0 Full-stack web-developer from Romania
      .employment
        span.pf-muted-bright Working 
        a.link(href="www.caphyon.com") @Caphyon
      a.cta.mt-3(href="#projects") See my work 👇