section#intro.row
  .col-12
    .text-container.text-center
      h2.mb-0.hello-message.pf-muted-bright Hello 👋 I am
      h1.big-name.d-inline Silviu Iordache
      h2.pf-white I create beautiful and performant web experiences
      p.pf-muted-bright.mb-0 Full-stack web-developer from Romania
      .employment
        span.pf-muted-bright Working 
        a.link(href="www.caphyon.com") @Caphyon
      a.cta.mt-3(href="#projects") See my work👇