include ../mixins/project-card-small.pug

section#projects-other
  h2.pf-primary.mb-3  Other projects
  .row.mb-3
    .col-6.col-md-4.mb-3
      +project-card-small(
          'Need for Speed:HEAT',
          'Electronic Arts',
          '/assets/other/nfsheat.jpeg',
          'AAA action-racing game from the famous Need for Speed franchise. Launched on PC, PS4, Xbox',
          ['design for free-roam multiplayer', 'mechanics design', `player's garage`],
          ['https://github.com/SilviuIordache/portfolio-v2']
        )

  //- GO LIVE WITHOUT THESE V (CAUSE PROPERLY DOING THEM WILL TAKE A WHILE, about 30-60 mins each x 10 = 10 hours)
    .col-12
      p Professional projects I worked on as a game developer
      ul
        li NFS: Payback
        li NFS: Heat
        li Assassins' Creed Pirates
        li Driver: Speedboat Paradise

      p Small games I scripted

      ul
        li FAR (an attempt at an improved Space Rogue with better AI)
        li Space Rogue (Bachelor Project, roguelike, procedural generation)
        li Towers ( won 3rd place at EA internal Game Jam - 500E, team of 3)
        li Brawl ( won 2nd place at EA Internal Game Jam - 500E, solo)
        li Ship the Sheep (Ludum Dare)
        li Honey Badger (internal Game Jam at Ubisoft)
        li Mini LD 55 (Ludum Dare)

