include ../mixins/project-card.pug

section#projects.row
  .col-12
    .section-title PROJECTS
  
  +project-card(
    'Bytes Route',
    'Caphyon',
    '/projects/bytes-route.html',
    '/assets/projects/bytesroute/brt-dashboard-1.png',
    ['Vue.js', 'Node.js', 'MongoDB'],
    'https://www.bytesroute.com/',
    ''
  )

  +project-card(
    'Grow Happy',
    'side project',
    '/projects/grow-happy.html',
    '/assets/projects/grow-happy/grow-happy.png',
    ['Vue.js', 'Firestore', 'Chart.js'],
    'https://grow-happy.herokuapp.com/',
    ['https://github.com/SilviuIordache/grow']
  )


  +project-card(
    'Bike Store',
    'personal',
    '/projects/bike-store.html',
    '/assets/projects/bikestore/bike-store.png',
    ['Vue.js', 'Node.js', 'MongoDB'],
    'https://bikestore-fe.herokuapp.com/',
    ['https://github.com/SilviuIordache/bikestore-fe', 'https://github.com/SilviuIordache/bikestore-be']
  )

  +project-card(
    'Portfolio v2',
    'side project',
    '/projects/portfolio-website-v2.html',
    '/assets/projects/portfolio2/portfoliov2.png',
    ['Pug', 'Stylus', 'JavaScript'],
    '/',
    ['https://github.com/SilviuIordache/portfolio-v2']
  )

  +project-card(
    'Simon game',
    'side project',
    '/projects/simon.html',
    '/assets/projects/simon/simon.png',
    ['Javascript', 'HTML/CSS'],
    'https://simon-silviu.netlify.app/',
    ['https://github.com/SilviuIordache/simon']
  )

  +project-card(
    'Portfolio v1',
    'side project',
    '/projects/portfolio-website-v1.html',
    '/assets/projects/portfolio1/portfoliov1.png',
    ['Pug','Stylus', 'JavaScript'],
    'https://silviu-portfolio.netlify.app/',
    ['https://github.com/SilviuIordache/portfolio-v1']
  )

  

  