include ../mixins/project-card.pug

section#projects.row
  .col-12
    h2.mb-2.pf-primary Projects

  .col-12.col-md-6
    +project-card(
      'Portfolio v1',
      'personal',
      '2021-07-20',
      '/assets/projects/portfolio.png',
      'A portfolio website of my notable work in web development. This page uses no Javascript in order to stay performant.',
      ['Pug mixin templates', 'Responsive website'],
      ['Pug', 'Stylus', 'Bootstrap', 'Netlify'],
      '',
      ['https://github.com/SilviuIordache/Ultra']
    )

  .col-12.col-md-6
    +project-card(
      'Grow Happy',
      'personal',
      '2021-07-18',
      '/assets/projects/grow-happy.png',
      'A self reflection tool that lets you evaluate key areas of your life, set goals and see how your hapiness growth evolves over time. Hapiness evolution is visualized with charts.',
      ['Data mapped with Chartjs', 'User system', 'Responsive web application'],
      ['Vue.js', 'Pug', 'Stylus', 'Bootstrap', 'Google Firestore', 'Chart.js', 'Heroku'],
      'https://grow-happy.herokuapp.com/',
      ['https://github.com/SilviuIordache/grow']
    )

  .col-12
    +project-card(
      'Bytes Route',
      'Caphyon',
      '2020-09-10',
      '/assets/projects/bytes-route.png',
      'A solution for building and deploying product tours without code for websites and web-applications. Consists of a Vue.js dashboard, a Chrome extension used as the tour builder, a script for integrating with your website, a Node.js backend and a presentation website',
      ['Large-scale Vue.js app','User-generated content', 'Onboarding experience', 'User auth system', 'Codeless Product Tour SaaS', 'Team management system', 'Theme style editing', 'Unit tests'],
      ['Vue.js', 'Bootstrap', 'Stylus', 'Pug', 'Node.js', 'Express', 'MongoDB', 'Mongoose', 'Jest', 'Vue-Test-Utils', 'Mocha & Chai', 'Heroku'],
      'https://www.bytesroute.com/',
      ''
    )
  
  .col-12
    p Professional projects I worked on as a game developer
    ul
      li NFS: Payback
      li NFS: Heat
      li Assassins' Creed Pirates
      li Driver: Speedboat Paradise

    p Small games I scripted

    ul
      li FAR (an attempt at an improved Space Rogue with better AI)
      li Space Rogue (Bachelor Project, roguelike, procedural generation)
      li Towers ( won 3rd place at EA internal Game Jam - 500E, team of 3)
      li Brawl ( won 2nd place at EA Internal Game Jam - 500E, solo)
      li Ship the Sheep (Ludum Dare)
      li Honey Badger (internal Game Jam at Ubisoft)
      li Mini LD 55 (Ludum Dare)
