section#resume
  .section-title Resume
  p.section-info My professional resume
  .row
    .col-12.col-lg-8.pr-5
        a.filled-cta.mr-4(href='./resume/Silviu_Iordache_resume.pdf' target='_blank')
          span See Resume
          i.fas.fa-external-link-square-alt.ml-3

