include ../mixins/project-card.pug

section#projects.row
  .col-12
    .section-title Projects
    p.section-info A list of projects I worked on:
  
  +project-card(
    'Bytes Route',
    'Caphyon',
    '/web-projects/bytes-route.html',
    '/assets/web-projects/bytesroute/brt-dashboard-1.png',
    ['Vue.js', 'Node.js', 'MongoDB'],
    'https://www.bytesroute.com/',
    ''
  )

  +project-card(
    'Grow Happy',
    'side project',
    '/web-projects/grow-happy.html',
    '/assets/web-projects/grow-happy/grow-happy.png',
    ['Vue.js', 'Firestore', 'Chart.js'],
    'https://grow-happy.herokuapp.com/',
    ['https://github.com/SilviuIordache/grow']
  )

  +project-card(
    'Painty: drawing app',
    'side project',
    '/web-projects/painty.html',
    '/assets/web-projects/painty/gallery.png',
    ['React.js', 'Canvas API', 'download feature'],
    'https://painty-app.herokuapp.com/',
    ['https://github.com/SilviuIordache/painty']
  )

  +project-card(
    'React To Do',
    'side-project',
    '/web-projects/react-todo.html',
    '/assets/web-projects/react-todo/react-todo.png',
    ['React.js', 'Bootstrap 5'],
    'https://basic-react-todo-list.herokuapp.com/',
    'https://github.com/SilviuIordache/ReactToDo'
  )

  +project-card(
    'React Time',
    'side-project',
    '/web-projects/react-time.html',
    '/assets/web-projects/react-time/react-countdown.png',
    ['React.js', 'ReactRouter', 'Bootstrap 5'],
    'https://simple-react-time.herokuapp.com/',
    'https://github.com/SilviuIordache/ReactTime'
  )


  +project-card(
    'Bike Store',
    'personal',
    '/web-projects/bike-store.html',
    '/assets/web-projects/bikestore/bike-store.png',
    ['Vue.js', 'Node.js', 'MongoDB'],
    'https://bikestore-fe.herokuapp.com/',
    ['https://github.com/SilviuIordache/bikestore-fe', 'https://github.com/SilviuIordache/bikestore-be']
  )

  +project-card(
    'Portfolio v2',
    'side project',
    '/web-projects/portfolio-website-v2.html',
    '/assets/web-projects/portfolio2/portfoliov2.png',
    ['Pug', 'Stylus', 'JavaScript'],
    '/',
    ['https://github.com/SilviuIordache/portfolio-v2']
  )

  +project-card(
    'Simon game',
    'side project',
    '/web-projects/simon.html',
    '/assets/web-projects/simon/simon.png',
    ['Javascript', 'HTML/CSS'],
    'https://simon-silviu.netlify.app/',
    ['https://github.com/SilviuIordache/simon']
  )

  +project-card(
    'Portfolio v1',
    'side project',
    '/web-projects/portfolio-website-v1.html',
    '/assets/web-projects/portfolio1/portfoliov1.png',
    ['Pug','Stylus', 'JavaScript'],
    'https://silviu-portfolio.netlify.app/',
    ['https://github.com/SilviuIordache/portfolio-v1']
  )

  +project-card(
    "Assassin's Creed: Pirates",
    'Ubisoft',
    '/game-projects/acp.html',
    '/assets/game-projects/ac-pirates/acp-cover.jpeg',
    ['Game Design','Level Design', 'UX Design'],
    'https://silviu-portfolio.netlify.app/',
    ['https://github.com/SilviuIordache/portfolio-v1']
  )


  

  