$animDuration = 1s

.anim-fadein-left
  animation fadein-left $animDuration

.anim-fadein-right
  animation fadein-right $animDuration
  
@keyframes fadein-left {
  from {
    transform translateX(-70%)
    opacity 0
  }
  to {
    transform translateX(0%)
    opacity 1
  }
}

@keyframes fadein-right {
  from {
    transform translateX(+70%)
    opacity 0
  }
  to {
    transform translateX(0%)
    opacity 1
  }
}
