.link
  color $pf-secondary-bright
  text-decoration none
  cursor pointer
  &:hover
    color $pf-secondary
    text-decoration underline $pf-secondary-bright
  &:active
    color $pf-secondary-dark
    text-decoration underline $pf-secondary-dark