.section-title
  text-transform capitalize
  font-size pxToRem(45)
  font-weight 500
  margin-bottom 4rem
  text-align center
  color $pf-white
  border-bottom 0.4rem $pf-primary solid
  display inline-block

.big-copy
  font-size pxToRem(24)

.medium-copy
  font-size pxToRem(18)

.body-copy
  font-size pxToRem(16)

.small-copy
  font-size pxToRem(12)
