footer
  margin-top 10rem

#inner-footer-container
  padding 2rem 0 2rem 0
  border-top 1px solid $pf-muted

#go-top-arrow
  text-align center
  left 0
  right 0
  margin-left: auto;
  margin-right: auto;
  width 70px
  top -8rem

