.link
  color $pf-primary
  text-decoration none
  cursor pointer
  &:hover
    color $pf-primary-bright
    text-decoration underline $pf-primary-bright
  &:active
    color $pf-primary-dark
    text-decoration underline $pf-primary-dark