@import './base.styl'
@import './colors.styl'
@import './header.styl'
@import './footer.styl'
@import './link.styl'
@import './buttons.styl'
@import './functions.styl'
@import './typography.styl'
@import './hamburger.styl'
@import './cursor.styl'
@import './scrollbar.styl'
@import './sections/intro.styl'
@import './sections/about.styl'
@import './sections/projects.styl'

// to help with scrolling into view with a fixed header
:target
  scroll-margin-top 8rem

.container
  margin-bottom 3rem

@media (max-width: 575.98px)
  .container
    max-width 22rem
@media (min-width: 576px) and (max-width: 767.98px)
  .container
    max-width 30rem
@media (min-width: 768px) and (max-width: 991.98px)
  .container
    max-width 40rem
@media (min-width: 992px) and (max-width: 1199.98px)
  .container
    max-width 50rem
@media (min-width: 1200px)
  .container
    max-width 60rem