@import './base.styl'
@import './colors.styl'
@import './header.styl'
@import './footer.styl'
@import './link.styl'
@import './buttons.styl'
@import './functions.styl'
@import './typography.styl'
@import './hamburger.styl'
@import './cursor.styl'
@import './sections/intro.styl'
@import './sections/about.styl'

#projects, #experience, #contact, #resume
  height 40rem

.container
  margin-bottom 3rem
  max-width 50rem