@import './core/colors.styl'
@import './core/link.styl'
@import './core/buttons.styl'
@import './core/functions.styl'
@import './core/typography.styl'
@import './core/utils.styl'
@import './core/base.styl'
@import './core/animations.styl'

@import './components/hamburger.styl'
@import './components/header.styl'
@import './components/footer.styl'
@import './components/scrollbar.styl'
@import './components/project-details.styl'
@import './components/project-card.styl'
@import './components/project-image.styl'
@import './components/project-links-mixin.styl'
@import './components/carousel-mixin.styl'

@import './sections/about.styl'
@import './sections/contact.styl'
@import './sections/sections-general.styl'

@import './projects/bytesroute.styl'

// to help with scrolling into view with a fixed header
:target
  scroll-margin-top 8rem

@media (max-width: 575.98px)
  .container
    max-width 22rem
@media (min-width: 576px) and (max-width: 767.98px)
  .container
    max-width 30rem
@media (min-width: 768px) and (max-width: 991.98px)
  .container
    max-width 40rem
@media (min-width: 992px) and (max-width: 1199.98px)
  .container
    max-width 50rem
@media (min-width: 1200px)
  .container
    max-width 60rem