#go-top-container
  position fixed
  right 2rem
  bottom 4rem
  text-align center
  #go-top-arrow
    text-align center
    margin-left: auto;
    margin-right: auto;
    width 70px
    &:hover
      transform translateY(-6%)
    &:hover +p
      opacity 1