html {
  position: relative;
  height: 100%;
}
body {
  cursor: default;
  height: 100%;
}
.pf-primary-bright {
  color: #b4cfc8;
  fill: #b4cfc8;
}
.pf-primary {
  color: #76a79a;
  fill: #76a79a;
}
.pf-primary-dark {
  color: #304b43;
  fill: #304b43;
}
.pf-secondary-bright {
  color: #d2a49d;
  fill: #d2a49d;
}
.pf-secondary {
  color: #a8594d;
  fill: #a8594d;
}
.pf-secondary-muted {
  color: #542d27;
  fill: #542d27;
}
.pf-white {
  color: #fbfbf2;
  fill: #fbfbf2;
}
.pf-muted-bright {
  color: #b5b5b5;
  fill: #b5b5b5;
}
.pf-muted {
  color: #4d4d4d;
  fill: #4d4d4d;
}
.pf-muted-dark {
  color: #403f4c;
  fill: #403f4c;
}
.pf-dark {
  color: #262626;
  fill: #262626;
}
.pf-bg-primary-bright {
  background-color: #b4cfc8;
}
.pf-bg-primary {
  background-color: #76a79a;
}
.pf-bg-primary-dark {
  background-color: #304b43;
}
.pf-bg-secondary-bright {
  background-color: #d2a49d;
}
.pf-bg-secondary {
  background-color: #a8594d;
}
.pf-bg-secondary-muted {
  background-color: #542d27;
}
.pf-bg-white {
  background-color: #fbfbf2;
}
.pf-bg-muted-bright {
  background-color: #b5b5b5;
}
.pf-bg-muted {
  background-color: #4d4d4d;
}
.pf-bg-muted-dark {
  background-color: #403f4c;
}
.pf-bg-dark {
  background-color: #262626;
}
header {
  background-color: #ededed;
}
.header-item {
  color: #76a79a;
  cursor: pointer;
  display: inline;
  padding-right: 1.5rem;
}
.header-item:hover {
  text-decoration: none;
  color: #b4cfc8;
}
footer {
  border-top: 1px solid #000;
}
.container {
  margin-bottom: 3rem;
  max-width: 50rem;
}
h1 {
  margin-bottom: 4rem;
}
.my-ul {
  list-style: none;
  margin-bottom: 0;
}
.my-li {
  cursor: pointer;
  display: inline;
  padding-right: 1.5rem;
}
.separator-line {
  text-align: center;
  border-top: 1px solid #d3d3d3;
  margin-bottom: 5rem;
}
.rounded-xl {
  border-radius: 7%;
}
.avatar {
  border-radius: 50%;
  border: 0.2rem solid #d3d3d3;
}
.footer-icon {
  width: 1rem;
  color: light-gray;
}
.hobby {
  margin-bottom: 2rem;
}
.emoji {
  font-size: 2rem;
  margin-bottom: 0;
}
.footer-link {
  color: #808080;
}
.project-card {
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.project-card-interactive {
  transition: all 0.2s ease-in-out;
}
.project-card-interactive:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.project-card-interactive:active {
  background-color: #f5f5f5;
  transform: scale(0.95);
}
.project-image {
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
  filter: opacity(70%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.project-image:hover {
  cursor: pointer;
  filter: none;
  transform: scale(1.1);
}
.project-link {
  font-size: 1.5rem;
  color: #808080;
}
