html.h-100(lang="en")
  head
    block head
      include ../includes/head.pug
      include ../includes/presentation-scripts.pug
      include ../includes/common-scripts.pug
  body.h-100.d-flex.flex-column
    block header
      include ../includes/header.pug
      +header(true)
    block content
    block footer
      include ../includes/footer.pug
      //- include ../includes/top.pug