footer
  #inner-footer-container.container
    .row
      .col-12.pf-muted-bright.container.mt-auto.d-flex.justify-content-between.position-relative
        p.mb-0
          span Silviu Iordache ©
          span#date-container.ml-1
        a#go-top-arrow.p-3.cta.position-absolute(href="#intro")
          i.fas.fa-arrow-up.fa-2x
        p.text-right.mb-0 All rights reserved