footer
  .back-to-top-container.text-center.mb-4
    .arrow-inner-container
      a#go-top-arrow.p-3.cta(href="#intro")
        i.fas.fa-arrow-up.fa-2x
      p#arrow-text.pf-primary Back to top
  #inner-footer-container.container
    .row
      .col-12.pf-muted-bright.container.mt-auto.d-flex.justify-content-between
        p.mb-0
          span Silviu Iordache ©
          span#date-container.ml-1
        p.text-right.mb-0 All rights reserved