footer.pf-muted-bright.container.mt-auto.px-0.mb-4.d-flex.justify-content-between
  p
    span Silviu Iordache ©
    span#date-container.ml-2
  a.p-3.cta(href="#intro")
    i.fas.fa-arrow-up.fa-2x
  p All rights reserved