footer.container.mt-auto.pt-3.px-0.mb-4.d-flex.justify-content-between
  p.text-muted Silviu Iordache © 2020
  ul.my-ul
    li.my-li
      a.footer-link(href="https://github.com/SilviuIordache")         
        i.fab.fa-github.fa-lg
    li.my-li
      a.footer-link(href="https://www.linkedin.com/in/silviu-iordache-36b81785")
        i.fab.fa-linkedin.fa-lg    