header#header.sticky-header.py-4.d-flex.justify-content-between.align-items-center.pf-bg-dark
  .d-flex.align-items-center.ml-4
    a#home-logo(href="") S
  ul#header-items-container.my-ul.mr-4
    li.header-li
      a.header-item.active(href="#about") ABOUT ME
    li.header-li
      a.header-item(href="#projects") PROJECTS
    li.header-li
      a.header-item(href="#experience") EXPERIENCE
    li.header-li
      a.header-item(href="#contact") CONTACT
    li.header-li
      a.header-item(href="#resume") RESUME