header#header.sticky-header.py-4.d-flex.justify-content-between.align-items-center.pf-bg-dark
  .d-flex.align-items-center.ml-4
  ul.my-ul.mr-4
    li.my-li
      a.header-item(href="/about.html") ABOUT ME
    li.my-li
      a.header-item(href="/index.html") PROJECTS
    li.my-li
      a.header-item(href="/experience.html") EXPERIENCE
    li.my-li
      a.header-item(href="/experience.html") CONTACT
    li.my-li
      a.header-item(href="/experience.html") RESUME